:root {
    --background-main-color: #FFFFFF;
    --background-lightblue-color: #EDF7FA;
    --main-text-color: #21243D;
    --nav-text-color: #000000;
    --link-text-color: #00A8CC;
    --body-content-max-width: 1152px;
  }